JAVA_MEMORY=12G
UPDATE_PLUGINS_ON_START=true
ENABLE_TELEGRAM_NOTIFY=true
ENABLE_TELEGRAM_TO_MC=true
MINECRAFT_PORT=25565
GEYSER_PORT=19132

RCON_PASSWORD=change-me
MANAGEMENT_SERVER_SECRET=change-me

TELEGRAM_BOT_TOKEN=change-me
TELEGRAM_CHAT_ID=change-me
